* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
  background-color: royalblue;
}

.computer-div {
  color: white;
  visibility: hidden;
}

/* .paper-img {
  width: 225px;
  height: 255px;
} */
